.contents
  .post__title
    EDIT
  
  = form_with model:@post, class:"form", local: true do |f|
    = f.text_field :title, placeholder:"TITLE", class:"form__title"
    = f.select :category, Post.categories.keys, {prompt: "Select a Category"}, {class:"form__category"}
    = f.label :image, id: "image__label" do
      %i.far.fa-image
      = f.file_field :image, class:"form__image"
    = f.text_area :content, placeholder:"CONTENT", class:"form__content"
    = f.submit "DONE", class:"form__btn"