.contents
  .post__title
    = @post.title
  .post__created_at
    = @post.created_at
  .post__edit
    = link_to edit_post_path(@post.id), class:"post__edit_btn" do
      Edit
  .post__delete
    = link_to post_path(@post.id), method: :delete, class:"post__delete__btn" do
      Delete
  .post__image
    - if @post.image?
      = image_tag @post.image.url, size:"400x400", class:"post__image__pic"
    - else
      %div
  .post__content
    = simple_format @post.content
  