!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Londrina+Shadow"

  %body
    .header
      .header__title
        = link_to root_path, class:"header__title__top" do
          MyBlog
      .header__right
        - if user_signed_in?
          = link_to user_path(current_user), class:"header__right__btn" do
            = current_user.nickname
          = link_to new_post_path, class:"header__right__btn" do
            投稿する
          = link_to destroy_user_session_path, method: :delete, class:"header__right__btn" do
            ログアウト
        - else
          = link_to new_user_session_path, class:"header__right__btn" do
            ログイン
          = link_to signup_regisrations_path, class:"header__right__btn" do
            新規登録
    = yield
